<div class="jumbotron">
    <h1>HRCountries Rest Web Service</h1>
    <p class="lead">HRCountries Rest web services is based on WebApi2 and use asynchronous processing.</p>
    <p><a href="https://github.com/jeanecard/HRCountriesServices" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
    See below for .net libraries and webservices used..
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Webcamstravel</h2>
        <p>
            A WebService to get webCams iFrame all around the World. Use Mashape.
        </p>
        <p><a class="btn btn-default" href="https://fr.webcams.travel/api/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GeoNames</h2>
        <p>The GeoNames Web Service is based on a geographical database covering all countries and containing over eleven million placenames that are available for download free of charge.</p>
        <p><a class="btn btn-default" href="http://api.geonames.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RestCountries</h2>
        <p>RestCountries provides information about countries via a RESTful API web service.</p>
        <p><a class="btn btn-default" href="https://restcountries.eu">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>RestSharp</h2>
        <p>
            RestSharp is a simple REST and HTTP API Client library for .NET.
        </p>
        <p><a class="btn btn-default" href="http://restsharp.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GeoJson.net</h2>
        <p>GeoJSON.Net is a .NET library for the RFC 7946 The GeoJSON Format and it uses and provides Newtonsoft Json.NET converters for serialization and deserialization of GeoJSON data.</p>
        <p><a class="btn btn-default" href="https://github.com/GeoJSON-Net/GeoJSON.Net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Levenstein Algorithm</h2>
        <p>Levenshtein. In 1965 Vladmir Levenshtein created a distance algorithm. This tells us the number of edits needed to turn one string into another. With Levenshtein distance, we measure similarity and match approximate strings with fuzzy logic.</p>
        <p><a class="btn btn-default" href="https://fr.wikipedia.org/wiki/Distance_de_Levenshtein">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>StructureMap</h2>
        <p>
            StructureMap is the oldest, continuously used IoC/DI container for .Net dating back to its first public release and production usage all the way back in June 2004
        </p>
        <p><a class="btn btn-default" href="http://structuremap.github.io/">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-6">
        <h2>Dapper</h2>
        <p>Dapper is a simple object mapper for .Net.</p>
        <p><a class="btn btn-default" href="https://github.com/StackExchange/Dapper">Learn more &raquo;</a></p>
    </div>*@
</div>
